<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">


    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">导航</a>
            <a class="navbar-brand" href="/logout">退出</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ><a href="/index">用户列表</a></li>
                <li class="active"><a href="session">会话管理</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    用户
                    <button class="btn btn-primary " data-toggle="modal" data-target="#myModal">
                        新增
                    </button>
                </div>
                <div class="panel-body">
                </div>
                <table id="table_id_example" class="display" cellspacing="0" width="100%" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>开始时间</th>
                        <th>最后活跃时间</th>
                        <th>超时时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script>
    var table;
    var  columns= [
        { "data": 'id' },
        { "data": 'startTimestamp' },
        { "data": 'lastAccessTime' },
        { "data": 'timeout' },
        { "data": 'host' },
        { "data": 'id' },
    ]
    $(document).ready( function () {
     table =    $('#table_id_example').DataTable({
            ajax: {
                url: "/session/find",
                type: "GET",
                "dataSrc": function (result) {
                     console.log(result);
                    return result;
                },
            },
            "oLanguage": {//下面是一些汉语翻译
                "sSearch": "搜索",
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "没有检索到数据",
                "sInfo": "显示 _START_ 至 _END_ 条 &nbsp;&nbsp;共 _TOTAL_ 条",
                "sInfoFiltered": "(筛选自 _MAX_ 条数据)",
                "sInfoEmtpy": "没有数据",
                "sProcessing": "正在加载数据...",
                "oPaginate":
                    {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "末页"
                    }
            },

            "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        return `<button type="button" class="btn btn-danger">删除</button>`;
                    },
                    "data" : null,
                    "targets": 5  //第几列 0开始
                },
            ],
            "columns": columns
        });
    } );
    $('#table_id_example tbody').on( 'click', 'button', function () {
        var data = table.row( $(this).parents('tr') ).data();
        $.get(
            "/session/del",
            {id:data.id},
            function(result){
                if(result.status){
                    $('#table_id_example').DataTable().ajax.reload()
                }else {
                    alert(result.msg)
                }
            }
        )
    } );
</script>
</body>
</html>