<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

     <context:component-scan base-package="com.learn.spring.base.chapter23"/>
     <bean id="demo" class="com.learn.spring.base.chapter23.Demo">
          <property name="defaultLocale" value="CH"/>
     </bean>
    <bean id="simple" class="com.learn.spring.base.chapter23.Simple">
         <property name="random" value="#{ T(java.lang.Math).random()*100}"/>
         <property name="defaultLocale" value="#{demo.defaultLocale }"/>
    </bean>

</beans>