<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="doService" class="com.learn.spring.base.chapter3.bean.DoServiceImpl"/>
    <bean id="doService2" class="com.learn.spring.base.chapter3.bean.DoServiceImpl2"/>
    <!--注册代理实现类-->
    <bean class="com.learn.spring.base.chapter3.CustomBeanPostProcessor"/>
</beans>