<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 响应式实用工具</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <form action="/auth/login" method="post">
            <p style="color: crimson" th:text="${session.err}" th:if="${not #strings.isEmpty(session.err)}"></p>
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 记住我
                </label>
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
            <button type="button" id="login" class="btn btn-primary">ajax登录</button>
        </form>
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <form action="/sms/login" method="post">
            <p style="color: crimson" th:text="${session.err}" th:if="${not #strings.isEmpty(session.err)}"></p>
            <div class="form-group">
                <label for="phone">手机</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="phone">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="code" name="code" placeholder="code">
                <label><button id="code_btn" type="button" class="btn btn-primary">获取验证码</button></label>
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
        </form>
    </div>
    <div class="col-md-5"></div>
</div>
<script>
    $("#login").click(function(){
        $.post(
            "/ajax/login",
            {username:$("#username").val(),
             password:$("#password").val()
            },
            function(result){
             console.log(result)
            });
    });
    $("#code_btn").click(function(){
        $.post(
            "/sms/code",
            {phone:$("#phone").val()
            },
            function(result){
                console.log(result);
            });
    });
</script>

</body>
</html>