.background-bd{
    background-image: url(/img/back01.jpg);
    color: #00FFFF
}
.background-content{
    border-top: none;
    background-color: #011c2f;
}
.div-out{
    width: 97%;
    margin: 12px auto;
}
.p-text-title{
    font-size: 100px
}
.p-text-max{
    font-size: 45px
}
.text-max-freeze{
    font-size: 80px;
    color:#1296DB
}
.text-max-cool{
    font-size: 80px;
    color:#00FFFF
}
.p-text{
    font-size: 35px;
    color:#FFF
}
.span-text-left{
    font-size: 35px;
    color: #FFF;
    margin-left: 10%
}
.border-style{
   border-color: #0595EB;
}
.logo-img{
    height: 56px;
    width: 340px;
}
.ico-img{
    height: 90px;
    width: 90px;
}
.ibox-title-me {
    height: 80px;
    line-height: 80px;
    border-color: #0595EB;
    background-color: #011221;
    display: block;
    clear: both;
    font-size: 40px;
    padding-left: 2%;
}
